extends layout

block content
  section.hero
    h1 Bienvenido! 
    p Compartí tus fotografías, explorá publicaciones y conectate con otros usuarios.
    a.btn(href="/posts") Ver publicaciones

  section.cards
    div.card
      h2 Publicaciones
      p Creá publicaciones con imágenes, título, descripción y etiquetas.

    div.card
      h2 Comunidad
      p Comentá, valorá imágenes y seguí a otros usuarios.

    div.card
      h2 Búsqueda
      p Encontrá publicaciones e imágenes mediante filtros y búsquedas.