extends ../layout

block content
  h1 Nueva publicación

  div.card
    form(method="POST", action="/posts")
      p
        label(for="title") Título
      p
        input(type="text", name="title", id="title", placeholder="Ingresa un título para la publicación", required)

      p
        label(for="description") Descripción
      p
        textarea(name="description", id="description", rows="4", placeholder="Describe brevemente la publicación")

      p
        label(for="image") Imagen de la publicación
      p
        input(type="text", name="image", id="image", placeholder="Por ahora URL de imagen. Más adelante se reemplazará por subida de archivo.")

      p
        label(for="tags") Etiquetas
      p
        input(type="text", name="tags", id="tags", placeholder="Ej: software, tecnología, innovación")

      p
        button.btn(type="submit") Guardar publicación